.card {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 208px;
  cursor: pointer;
  position: relative;
}

.image {
  outline: 1px solod orange;
  padding: 2px;
  
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.text {
  text-align: center;
}

.priceBlock {
  display: flex;
  flex-direction: row;
  
}