.bill {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 30px;
}

.bill p {
  margin-right: 40px;
}

.bill svg {
  width: 36px;
  height: 36px;
}

.onHover {
  box-shadow: 0 0 16px rgb(24, 24, 212);
  display: flex;
  flex-direction:column;
  gap: 10px;
  min-width: 600px;
}

.constructor {
  display: flex;
  flex-direction:column;
  gap: 10px;
  min-width: 600px;
}

.topLock {
  padding-left: 40px;
}

.bottonLock {
  padding-left: 40px;
}


.mainElement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 260px;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}



.mainElement::-webkit-scrollbar{
  width: 8px;
}

.mainElement::-webkit-scrollbar-thumb{
  background-color: rgba(133, 133, 173, 1);
  width: 8px;
  border-radius: 3px;

}

.mainElement::-webkit-scrollbar-track{
  background-color: rgba(47, 47, 55, 1);

}

.billBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.billBlock svg {
  width: 36px;
  height: 36px;
}

.disabled {
  background: rgb(100, 99, 99);
  cursor: default;
}

.disabled:hover {
  box-shadow: none;
  filter: none;
}