.main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1279px) {
  .main {
    max-width: min-content;

    flex-direction: column;
    gap: 30px;
    height: auto;
  }
}
