.header {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  background-color: rgba(28, 28, 33, 1);
  margin: 0 auto;
  justify-content: space-between;
}

.headerList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  width: 1280px;
}

.linkGroup {
  display: flex;
  gap: 8px;
}

.link {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  width: 178px;
  height: 56px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  gap: 6px;
  color: var(--text-inactive-color);
}



.link:hover {
  box-shadow: 0px 2px 2px 1px rgb(85, 85, 207);
}


.listItemLogo {
  position: absolute;
  margin: 0 calc((min(1280px, 100vw) - 290px) / 2);
}

@media screen and (max-width: 1279px) {
  .header {
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 20px);
  }

  .linkGroup {
    flex-direction: column;
  }

  .headerList {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .listItemLogo {
    position: relative;
    order: -1;

  }
}
